@import './common';
@import './example';

img {
  width: 35%;
}
.gallery {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.photo-card {
  justify-items: center;
  .info {
    display: flex;

    gap: 10px;
    &-item {
      text-align: center;
    }
  }
}
